<div id="wrap" class="container-fluid page-container">
    <div class="row">
        <region id="top"></region>
    </div>
    <div class="row col-sidebyside-holder">
        <div class="col-md-2 navmenu-holder stretchy col-left">
            <region id="nav"></region>
        </div>
        <div class="col-md-10 top-holder col-right">
            <region id="bar"></region>
            <div class="content-holder">
                <region id="pagetitle"></region>
                <region id="center"></region>
            </div>
        </div>
    </div>

    <div id="push"></div>

</div>
<div id="footer">
    <region id="footer"></region>
</div>
